- name: Introduction
  href: index.md
- name: Core concepts
  items:
  - name: Overview of DPF
    href: core-concepts/dpf-overview.md
  - name: Understanding data containers
    href: core-concepts/data-containers.md
  - name: Operator fundamentals
    href: core-concepts/operator.md
- name: Getting started
  items:
  - name: How to use data containers
    href: getting-started/using-data-containers.md
  - name: How to use operators
    href: getting-started/using-operators.md
  - name: Workflow examples for beginners
    href: getting-started/workflow-examples.md
- name: Operator specifications
  items:
  {% for category in data -%}
  - name: {{ category.category }}
    items:{% for operator in category.operators %}
    - name: {{ operator.operator_name }}
      href: operator-specifications/{{ operator.file_path }}{% endfor %}
  {% endfor %}