# Reference documentation

 

## Table of contents
{{range .Files}}
{{$file_name := .Name}}- [{{.Name}}](#{{.Name | lower | replace "." "" |  replace "/" "" |  replace "_" ""}})
{{- if .Messages }}
{{range .Messages}}  - [{{.LongName}}](#{{.LongName | lower | replace "." "-" }})
{{end}}
{{- end -}}
{{- if .Enums }}
{{range .Enums}}  - [{{.Name}}](#{{.Name | lower | replace "." "-" }})
{{end}}
{{- end -}}
{{- if .Services }}
{{range .Services}}  - [{{.Name}}](#{{.Name | lower | replace "." "-" }})
{{end}}
{{- end -}}
{{end}}
- [Scalar Value Types](#scalar-value-types)
{{range .Files}}
{{$file_name := .Name}}
Back to [Top](#table-of-contents)
 
## {{.Name}}
 
{{.Description}}
{{range .Messages}}
### {{.LongName }}
 
{{.Description}}
 
{{if .HasFields}}
| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{range .Fields -}}
  | {{.Name}} | [{{.LongType}}](#{{.LongType | lower | replace "." "-" }}) | {{.Label}} | {{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{.Description | replace "\n" "<br>" | nobr}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}{{end}}{{end}}
{{range .Enums}}
### {{.Name}}
 
{{.Description}}
 
| Name | Number | Description |
| ---- | ------ | ----------- |
{{range .Values -}}
  | {{.Name}} | {{.Number}} | {{.Description | replace "\n" "<br>" | nobr}} |
{{end}}{{end}}
{{if .HasServices}}{{range .Services}}
### {{.Name}}
 
{{.Description}}
 
| Method Name | Request Type | Response Type | Description |
| ----------- | ------------ | ------------- | ------------|
{{range .Methods -}}
  | {{.Name}} | [{{.RequestLongType}}](#{{.RequestType | lower | replace "." "-" }}){{if .RequestStreaming}} stream{{end}} | [{{.ResponseLongType}}](#{{.ResponseType | lower | replace "." "-" }}){{if .ResponseStreaming}} stream{{end}} | {{.Description | replace "\n" "<br>" | nobr}} |
{{end}}{{end}}{{end}}{{end}}
## Scalar Value Types
 
| .proto Type | Notes | C++ | Java | Python | Go | C# | PHP | Ruby |
| ----------- | ----- | --- | ---- | ------ | -- | -- | --- | ---- |
{{range .Scalars -}}
  | <div><h4 id="{{.ProtoType | lower | replace "." ""}}" /></div><a name="{{.ProtoType}}" /> {{.ProtoType}} |  | {{.Notes}} | {{.CppType}} | {{.JavaType}} | {{.PythonType}} | {{.GoType}} | {{.CSharp}} | {{.PhpType}} | {{.RubyType}} |
{{end}} 