.nav-footer {
    display: grid;
    grid-template-areas: 'previous next';
    grid-template-columns: repeat(2, 50%);
    margin-top: 2rem;
  }
  
  .nav-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0f0f0f;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .nav-btn-prev {
    grid-area: previous;
    justify-self: start;
  }
  
  .nav-btn-next {
    grid-area: next;
    justify-self: end;
  }